<!-- Modal -->
<div class="modal fade" id="login_modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log in</h4>
      </div>
      <div class="modal-body">
      <%= form_tag sessions_path do %>
      <p>
          <%= label_tag :email %><br />
          <%= text_field_tag :email, params[:email] %>
        </p>
        <p>
          <%= label_tag :password %><br />
          <%= password_field_tag :password_digest %>
        </p>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Log in', :class => 'btn btn-default', :id => 'submit_login' %>
      </div>
      <% end %>
    </div>

  </div>
</div>

