<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p><strong><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</strong></p>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :comment_content %>
  </div>

    <%= form.hidden_field :user_id, id: :comment_user_id, :value => current_user.id %>
    <%= form.hidden_field :book_id, id: :comment_book_id, :value => @book %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
