<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p><strong><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</strong></p>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password_digest, id: :password_digest %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_digest_confirmation %>
  </div>

  <% if current_user && current_user.user_profile == 'admin' %>
    <div class="field">
      <%= form.label :user_profile %>
      <%= select_tag('user[user_profile]',
                     raw("<option value='user'>User</option><option value='moderator'>Moderator</option><option value='admin'>Admin</option>"),
                     {:class => 'form-control', :prompt => 'Account type'}) %>
    </div>
  <% end %>


  <div class="field well well-sm">
    <%= form.label :image %>
    <%= form.file_field :image %>
    <p class="help-block">Upload profile image</p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
