<%= form_with(model: for_sale, local: true) do |form| %>
  <% if for_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(for_sale.errors.count, "error") %> prohibited this for_sale from being saved:</h2>

      <ul>
      <% for_sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :for_sale_price %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact, id: :for_sale_contact %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :for_sale_user_id %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id, id: :for_sale_book_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
