<%= form_with(model: rating, local: true) do |form| %>
  <% if rating.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p><strong><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</strong></p>

      <ul>
      <% rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :score %>
    <%= select_tag('rating[score]', options_for_select([1,2,3,4,5,6], 3),
                   {:class => 'form-control'}) %>
  </div>

  <%= form.hidden_field :book_id, id: :rating_book_id, :value => @book %>
  <%= form.hidden_field :user_id, id: :rating_user_id, :value => current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
