<div class="media">
  <h3 class="media-heading text-primary border_bottom"><%= book.title %>
    <% if current_user %>
      <small id="rating">
        <% form_id = "book_#{book.id}_rating" %>
        <%= form_for book.ratings.find_by_user_id(current_user.id) || book.ratings.create, :html => {:id => form_id, :class => 'star_rating_form' }, :remote => true do |f| %>
          <%= f.hidden_field :book_id %>
          <%= f.hidden_field :score, :id => "#{form_id}_stars"  %>
        <% end %>
        <% (1..6).each do |i| %>
          <span class="glyphicon glyphicon-star-empty" data-stars="<%= i %>" data-form-id="<%= form_id %>" id="<%= "#{form_id}_#{i}" %>"></span>
        <% end %>
      </small>
    <% end %>
  </h3>
  <div class="media-left">
    <a href="#">
      <%= image_tag book.image.thumb.url, :class => "book-size"%>
    </a>
  </div>
  <div class="media-body">

    <p></p>
    <p> <%= book.description %>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum."</p>

    <span class="label label-primary"><%= book.category.name %></span>
    <span class="label label-primary">Average rating:
      <%= number_with_precision(get_avg(book.id), precision: 1) %>
          </span>
    <table class="pull-right">
      <tr>
        <td><%= link_to 'Les mer', book %></td>
        <% if current_admin %>
            <td><%= link_to 'Endre', edit_book_path(book) %></td>
            <td><%= link_to 'Slett', book, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>

      </tr>
    </table>
  </div>
</div>