<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>Books</h1>
</div>

<% @books.each do |book| %>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag book.image.thumb.url %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= book.title %></h4>
        <p></p>
        <p> <%= book.description %>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum."</p>

        <span class="label label-primary"><%= book.category.name %></span>

        <table class="pull-right">
          <tr>
            <td><%= link_to 'Les mer', book %></td>
            <% if current_user %>
              <td><%= link_to 'Endre', edit_book_path(book) %></td>
              <td><%= link_to 'Slett', book, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
    <hr>
<% end %>

<br>