<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @book.image.large.url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.name %>
</p>

<div class="well well-lg">

  <button type="button" class="btn btn-info medium-margin-top" data-toggle="collapse" data-target="#collapse<%= @book.id %>">(<b id="commentcount_<%= @book.id %>"><%= @book.for_sales.count %></b>)
    Bøker for salg <b class="caret"></b></button>

  <!-- comments field -->
  <div id="collapse<%= @book.id %>" class="panel-collapse collapse ">
    <table class ="table">
      <thead>
      <tr>
        <th>User</th>
        <th>Price</th>
        <th>Contact</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @book.for_sales.each do |for_sale| %>
          <tr>
            <td><%= for_sale.user.name %></td>
            <td><%= for_sale.price %></td>
            <td><%= for_sale.contact %></td>
            <td><%= link_to 'Show', for_sale %></td>
            <% if current_user %>
                <td><%= link_to 'Edit', edit_for_sale_path(for_sale) %></td>
                <td><%= link_to 'Destroy', for_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to 'New For Sale', new_for_sale_path %>

  </div>

</div><!-- end well -->

<div id='com<%= @book.id %>'>
<%= render :partial => 'comments/comment', collection:  @book.comments %>
</div>

<% if current_user %>
<%= render 'comments/form', comment: Comment.new(book_id: @book.id, :user_id => current_user.id) %>
<% end %>
<% if current_admin %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Back', _back_url %>
